* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

img {
    cursor: pointer;
}


/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100px;
    gap: 20px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}


/* MainMenu */

main {
    padding: 30px 30px;
}

.ingredient-form {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 44px;
}

.ingredient-form > input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 13px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 15%);
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
    outline: none;
}

.ingredient-form > button {
    border: none;
    border-radius: 5px;
    background: black;
    color: white;
    cursor: pointer;
    max-width: 150px;
    font-size: 0.8rem;
}

.ingredient-form > button::before {
    content: "+";
    margin-right: 2px;
}


/* Ingredients List */

.ingredients-title {
    text-decoration: underline;
    padding-top: 35px;
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
}

.ingredients-list {
    padding-right: 20px;
    margin-top: 0px;
    font-size: 18px;
}


/* Recipes Container */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 500px;
    height: 120px;
    background-color: lightgray;
    border-radius: 5px;
    padding: 30px;
    gap: 30px;
}

.recipes-container > button {
    min-width: 120px;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: salmon;
    border: 1px solid salmon;
}

.recipes-container > button:hover {
    color: white;
    background-color: rgb(255, 110, 100);
}


/* AI Recipe */

.ai-recipe-container {
    color: black;
    line-height: 28px;
    font-size: 1.125rem;
}