* {
    font-family: "Alegreya", Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

img {
    cursor: pointer;
}

ul {
    list-style-type: none;
}


/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100px;
    gap: 15px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

header > h1 {
    margin-bottom: 2px;
}


/* MainMenu */

main {
    padding: 30px 30px;
    gap: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: salmon;

    font-size: 30px;
    margin-bottom: 20px;
}

.intro > div {
    font-size: 18px;
    color: black;
}

.ingredient-form {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 44px;
}

.ingredient-form>input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 13px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 15%);
    flex-grow: 1;
    width: 200px;
    outline: none;
}

.add-btn {
    border: none;
    border-radius: 100px;
    background: black;
    cursor: pointer;
    width: 92px;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    color: salmon;
}


/* Ingredients List */

.ingredients-title {
    text-decoration: underline;
    padding-top: 35px;
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
}

.ingredients-list {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    margin-top: 0px;
    margin-right: 20px;
    font-size: 20px;
    gap: 10px;
}

.ingredient {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 300px;
    gap: 10px;
}

.ingredient > button {
    border: black 2px solid;
    border-radius: 100px;
    background: white;
    cursor: pointer;
    width: 35px;
    height: 35px;
    font-size: 20px;
    font-weight: 700;
    color: salmon;
    padding: 0;
}


/* Recipes Container */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: salmon;

    width: 300px;
    height: 150px;
    margin-top: 30px;
    border-radius: 10px;
    gap: 12px;
}

.recipes-container > h1 {
    margin: 0;
}

.recipes-container>button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color: black;
    border: 1px solid black;
}

.recipes-container>button:hover {
    color: white;
    background-color: rgb(44, 44, 44)
}


/* Loading Screen */

.loading-screen {
    position: absolute;
    cursor: not-allowed;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: salmon;
    width: 100vw;
    height: 100vh;
    top: 0%;
    z-index: 100;
    overflow: hidden;
}

.loading-screen > img {
    width: 200px;
    height: 200px;
}

/* AI Recipe */

.ai-recipe-container {
    text-align: justify;
    color: black;
    line-height: 28px;
    font-size: 15px;
}

.ai-recipe-container > img {
    margin-top: 15px;
}

.ai-recipe-container > h2 {
    margin-bottom: 0;
    color: salmon;
}

.ai-recipe-container > h1 {
    text-align: center;
}

.ai-recipe-container > button {
    border: none;
    border-radius: 10px;
    background: black;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    color: salmon;
}